@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.button {
	-fx-text-fill: white;
	-fx-background-color: #4D61CC;
	-fx-font-family: 'Poppins', sans-serif;
	-fx-font-size: 16px;
}

.label{
	-fx-font-family: 'Poppins';
}

.selected-btn{
	-fx-background-color: #758AFF;
}

.button:hover,
.toggle-button:hover,
.choice-box:hover,
.toggle-switch:hover {
	-fx-cursor: hand;
}

.btn-accueil {
	-fx-font-family: 'Poppins', sans-serif;
	-fx-font-size: 20px;
}

.text-field,
.choice-box {
	-fx-background-radius: 10;
	-fx-background-color: -fx-control-inner-background;
}

.toggle-switch:selected .thumb-area {
	-fx-background-color: #4D61CC;
}

.info-button,
.info-button:hover,
.info-btn,
.info-btn:hover {
	-fx-background-color: transparent;
	-fx-font-family: 'Poppins', sans-serif;
	-fx-font-size : 16px;
}

.button:hover {
	-fx-background-color: #758AFF;
}

.button:pressed {
	-fx-background-color: #758AFF;
}

.toggle-button {
	-fx-background-color: white;
}

.roundButton {
	-fx-border-radius: 15;
}

.error-label{
	-fx-text-fill : red; 
	-fx-font-weight: bold;
}

.choice .left-container .radio { -fx-background-color: transparent; }
.choice .context-menu {
	-fx-pref-width: 124; /* Your width for the context menu background shown */
	-fx-background-insets: 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.choice-exporter .context-menu {
	-fx-pref-width: 500; /* Your width for the context menu background shown */
	-fx-pref-height: 200; /* Your height for the context menu background shown */
	-fx-background-insets: 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.radio-button:selected .radio {
	-fx-shape: "M 0 5 Q 0 0 5 0 L 15 0 Q 20 0 20 5 L 20 15 Q 20 20 15 20 L 5 20 Q 0 20 0 15 Z"; 
	-fx-background-color: #4D61CC;
	-fx-background-radius: 5;
}

.radio-button .radio {
	-fx-shape: "M 0 5 Q 0 0 5 0 L 15 0 Q 20 0 20 5 L 20 15 Q 20 20 15 20 L 5 20 Q 0 20 0 15 Z"; 
	-fx-background-color: white;
	-fx-background-radius: 20;
	-fx-border-color: black;
}

.radio-button:selected .radio {
	-fx-border-color: #4D61CC; /* Border color for selected state */
}

.radio-button:selected .radio > .dot {
	-fx-background-color: #4D61CC;
	-fx-border-color: #4D61CC;
	-fx-background-radius: 50%;
}

.radio-button .radio > .dot {
	-fx-background-color: white;
	-fx-background-radius: 50%;
}

.noheader .column-header-background {
	-fx-max-height: 0;
	-fx-pref-height: 0;
	-fx-min-height: 0;
}

.noheader .table-cell {
	-fx-border-color: #ECE8E8;
	-fx-padding: 2 0 2 10px;
	-fx-alignment: CENTER-LEFT;
}

.table-view:row-selection .table-row-cell:filled:hover > .table-cell {
	-fx-background-color: #758AFF;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-text-fill: -fx-text-inner-color;
	-fx-border-color: #758AFF;
}

.noheader .table-row-cell {
	-fx-background-color: #ECE8E8;
}

.table-view:focused .table-row-cell:filled:focused:selected > .table-cell {
	-fx-background-color: #758AFF;
	-fx-background-insets: 0, 1, 2;
	-fx-text-fill: -fx-selection-bar-text;
	-fx-border-color: #758AFF;
}

.table-view {
	-fx-font-family: 'Poppins', sans-serif;
}

.noheader {
	-fx-font-size: 16px;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-border-radius: 2.0em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-padding: 0.0 0.0 10.0 0.0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-padding: 0.0 10.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color: derive(black,90.0%);
	-fx-background-insets: 2.0, 0.0, 0.0;
	-fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
	-fx-background-color: derive(#4D4C4F,10.0%);
	-fx-background-insets: 2.0, 0.0, 0.0;
	-fx-background-radius: 2.0em;
}

.text-area *.text {
	-fx-text-alignment: center;
}

.titreExport {
	-fx-font-family: 'Poppins';
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.erreur-row  > .table-cell {
	-fx-background-color: #FFCCCC;
	-fx-border-color: #FFCCCC;
	
}