.button{
	-fx-text-fill: white;
	-fx-background-color: #4D61CC;
	/* -fx-background-color: transparent; */
}

.button:hover, .togglebutton:hover, .choicebox:hover, .toggle-switch:hover {
	-fx-cursor: hand;
}

.toggle-switch:selected .thumb-area {
	-fx-background-color: #4D61CC;
}

.info-button {
	-fx-background-color: transparent;
}

.button:hover{
	-fx-background-color: #758AFFAA;
}

.info-button:hover {
	-fx-background-color: transparent;
}

.button:pressed{
	-fx-background-color: #758AFF;
}

.togglebutton{
	-fx-background-color: white;
}

.roundButton{
	-fx-border-radius: 15;
}

.info-btn {
	-fx-background-color: transparent;
}

.info-btn:hover {
	-fx-background-color: transparent;
}

.table-column {
	-fx-alignment: CENTER;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
	
}

.btn-accueil {
	/*-fx-background-image: url("../images/accueil_icone.png");*/
}